<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--数据库信息-->
  <Database type="Txooo.Data.DatabaseConfig">
    <ConnString>
      <TxoooAgent IfEncrypt="false">Server=10.10.10.70;Database=Agent_7518;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgent>
      <TxoooAgentTest IfEncrypt="false">Server=10.10.10.70;Database=Agent_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooAgentTest>
      <Agent93390 IfEncrypt="false">Server=10.10.10.72;Database=Agent_Outer;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</Agent93390>
      <Agent93390Test IfEncrypt="false">Server=10.10.10.72;Database=Agent_Outer_Test;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</Agent93390Test>
    </ConnString>
  </Database>

</configuration>